



<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="icon" href="/images/weather.png">

    <link rel="stylesheet" href = "/css/style.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <h1>Help Page</h1>
    <h1>The message is : {{message}}</h1>
    <p>The requested page cannot be found. Error {{errorMessage}}</p>
    </div>
    {{>footer}}

    
</body>
</html>
